#STUDY_NAME_OPTUNA: "no-name-58aad351-e6cd-4a0f-aa54-2821f1033b79"
#STORAGE_OPTUNA: "sqlite:///optimizations/optuna_study.db"   # donde persiste el estudio (sqlite en output/)

# CONFIG Local


# BIG QUERY DATOS
bigquery:
  BQ_PROJECT : "dmecoyfin-250928192534125"                 # p.ej. "dmecoyfin-250928192534125"
  BQ_DATASET : "dmeyf"
  BQ_TABLE   : "c02"
  BQ_TABLE_TARGETS : 'targets'


local:
  STORAGE_OPTUNA: "sqlite:////home/joacosk/Documents/maestria/Q2/script_project/optimizations/optuna_study.db"
  DIR_MODELS: "/home/joacosk/Documents/maestria/Q2/script_project/src/models/"
  DB_PATH: "data/churn.duckdb"
  DATA_PATH: "data/competencia_02_crudo.csv"
  DB_MODELS_TRAIN_PATH: "data/models_train_test.duckdb"
  LOGS_PATH: "logs/"
  OUTPUT_PATH: "/home/joacosk/Documents/maestria/Q2/script_project/output"
  CSV_COMPETENCIA_2: "gs://joaquinrk_data_bukito3/datasets/competencia_02_crudo.csv.gz"

# NOMBRE EXPERIMENTO
#STUDY_NAME_OPTUNA: "lgb_optimization_exp1_vm"
vm:
  STORAGE_OPTUNA: "sqlite:////home/joaquinrk_data/buckets/b1/optimizations/optuna_study.db"
  DIR_MODELS: "/home/joaquinrk_data/buckets/b1/models/"
  DB_PATH: "/home/joaquinrk_data/buckets/b1/datasets/churn.duckdb"
  DATA_PATH: "/home/joaquinrk_data/buckets/b1/datasets/competencia_02_crudo.csv"
  DB_MODELS_TRAIN_PATH: "/home/joaquinrk_data/buckets/b1/datasets/models_train_test.duckdb"
  LOGS_PATH: "/home/joaquinrk_data/dmeyf-project/logs"
  OUTPUT_PATH: "/home/joaquinrk_data/buckets/b1/outputs"
  CSV_COMPETENCIA_2: "gs://joaquinrk_data_bukito3/datasets/competencia_02_crudo.csv.gz"


optimization:
  N_TRIALS: 20                                  # 20 warmup + 30 bayesianos
  N_STARTUP_TRIALS: 20
  NFOLD: 5
  EARLY_STOPPING_ROUNDS: 200                    # opcional si querés early stopping en CV
  N_BOOSTS: 1000
  # Numero de modelos que agarro de la optimizacion hiperparámetros para entrenar
  TOP_K_MODEL: 5


preprocessing:
  SUB_SAMPLE: 0.4
  NUN_WINDOW_LOAD: 5
  NUN_WINDOW: 3


# ------------------------------------------------------------------

seeds:
  SEEDS: [ 155555, 555555, 551155, 515151, 151515 ]
  SEED: 51123478 # SEED para fijar randomizaciones



competencia02:

  MONTHS_DROP_LOAD : [201905, 201910, 202006]
  BQ_PROJECT: "dmecoyfin-250928192534125"
  BQ_DATASET: "dmeyf"
  BQ_TABLE: "c02"
  BQ_TABLE_TARGETS: "targets"
  BQ_TABLE_FEATURES: "features"

  MONTH_TRAIN: [   201901,201902,202001,202002 ,202101 ]

  MONTH_VALIDATION: [ 202101 ]
  MONTH_TEST: [ 202102]
  MONTH_PRED: [ 202104 ]

  GANANCIA_ACIERTO: 780000
  COSTO_ESTIMULO: 20000

  TARGET: "clase_ternaria_binaria"           # ajustá al nombre real en tu CSV
  ID_COL: "numero_de_cliente"



competencia01:
  MONTH_TRAIN: [202102,202103]
  MONTH_VALIDATION: [202103]
  MONTH_TEST: [202104]
  MONTH_PRED: [202106]

  TARGET: "clase_ternaria_binaria2"           # ajustá al nombre real en tu CSV
  ID_COL: "numero_de_cliente"

  # negocio (por si luego cambias a métrica custom de ganancia)
  GANANCIA_ACIERTO: 780000
  COSTO_ESTIMULO: 20000


experiment:
  STUDY_NAME_OPTUNA: "experimento_estacional_abril_01"

  # Meses de entrenamiento (los que vas a correr en este job)
  MONTH_TRAIN: [201901, 201902, 202001, 202002, 202101, 202102]

  # Mapping test por mes de train (clave: mes_train, valor: mes_test)
  TEST_BY_TRAIN:
    201901: 201904
    201902: 201904
    202001: 202004
    202002: 202004
    # para 202101/202102 no se calculan curvas (solo se usan para entrenar y predecir),
    # podés omitirlos o dejarlos en blanco si querés:
    # "202101": null
    # "202102": null

  # Mes(es) a predecir para cada escenario de negocio
  PREDICT_SCENARIOS:
    - name: "abril_2021_estacionalidad"
      pred_month: 202104
      # entreno 202101 con todos los modelos 'enero' (201901, 202001)
      train_for_pred:
        - train_month: 202101
          use_experiments_from: [201901, 202001]
        - train_month: 202102
          use_experiments_from: [201902, 202002]

# Opcional: si querés otro escenario (junio 2021) agregás otro item acá

flags:
  # Opciones: 'DATA', 'FEATURES', 'OPTUNA', 'TRAIN', 'PREDICT'
  NUEVA_BASE: True
  START_POINT: "PREDICT"        # o "PREDICT" según etapa
  RUN_OPTIMIZATION: true       # corre optuna si faltan trials
  RUN_CALC_CURVAS: true        # calcula curvas (y thr_opt) para meses que tengan TEST_BY_TRAIN
  TOP_K_MODEL: 5