#STUDY_NAME_OPTUNA: "no-name-58aad351-e6cd-4a0f-aa54-2821f1033b79"
#STORAGE_OPTUNA: "sqlite:///optimizations/optuna_study.db"   # donde persiste el estudio (sqlite en output/)

# CONFIG Local

experiment:
  STUDY_NAME_OPTUNA: "test_lgb_train_202008-test_202010-pred_202011-undersampling_cv"


# BIG QUERY DATOS
bigquery:
  BQ_PROJECT : "dmecoyfin-250928192534125"                 # p.ej. "dmecoyfin-250928192534125"
  BQ_DATASET : "dmeyf"
  BQ_TABLE   : "c02"
  BQ_TABLE_TARGETS : 'targets'


local:
  STORAGE_OPTUNA: "sqlite:////home/joacosk/Documents/maestria/Q2/script_project/optimizations/optuna_study.db"
  DIR_MODELS: "/home/joacosk/Documents/maestria/Q2/script_project/src/models/"
  DB_PATH: "data/churn.duckdb"
  DATA_PATH: "data/competencia_01_crudo.csv"
  DB_MODELS_TRAIN_PATH: "data/models_train_test.duckdb"
  LOGS_PATH: "logs/"
  OUTPUT_PATH: "/home/joacosk/Documents/maestria/Q2/script_project/output"
  CSV_COMPETENCIA_2: "gs://joaquinrk_data_bukito3/datasets/competencia_02_crudo.csv.gz"

# NOMBRE EXPERIMENTO
#STUDY_NAME_OPTUNA: "lgb_optimization_exp1_vm"
vm:
  STORAGE_OPTUNA: "sqlite:////home/joaquinrk_data/buckets/b1/optimizations/optuna_study.db"
  DIR_MODELS: "/home/joaquinrk_data/buckets/b1/models/"
  DB_PATH: "/home/joaquinrk_data/buckets/b1/datasets/churn.duckdb"
  DATA_PATH: "/home/joaquinrk_data/buckets/b1/datasets/competencia_01_crudo.csv"
  DB_MODELS_TRAIN_PATH: "/home/joaquinrk_data/buckets/b1/datasets/models_train_test.duckdb"
  LOGS_PATH: "/home/joaquinrk_data/dmeyf-project/logs"
  OUTPUT_PATH: "/home/joaquinrk_data/buckets/b1/outputs"
  CSV_COMPETENCIA_2: "gs://joaquinrk_data_bukito3/datasets/competencia_02_crudo.csv.gz"


optimization:
  N_TRIALS: 20                                  # 20 warmup + 30 bayesianos
  N_STARTUP_TRIALS: 20
  NFOLD: 5
  EARLY_STOPPING_ROUNDS: 200                    # opcional si querés early stopping en CV
  N_BOOSTS: 1000
  # Numero de modelos que agarro de la optimizacion hiperparámetros para entrenar
  TOP_K_MODEL: 5

preprocessing:
  SUB_SAMPLE: 0.2

# ------------------------------------------------------------------
flags:
  # NUEVA VARIABLE PARA CONTROL DE FLUJO
  NUEVA_BASE: False
  # Opciones: 'DATA', 'FEATURES', 'OPTUNA', 'TRAIN', 'PREDICT'
  START_POINT: "PREDICT"
  RUN_CALC_CURVAS: True
  RUN_OPTIMIZATION: True
# ------------------------------------------------------------------

seeds:
  SEEDS: [ 155555, 555555, 551155, 515151, 151515 ]
  SEED: 51123478 # SEED para fijar randomizaciones


competencia01:
  MONTH_TRAIN: [202102,202103]
  MONTH_VALIDATION: [202103]
  MONTH_TEST: [202104]
  MONTH_PRED: [202106]

  TARGET: "clase_ternaria_binaria2"           # ajustá al nombre real en tu CSV
  ID_COL: "numero_de_cliente"

  # negocio (por si luego cambias a métrica custom de ganancia)
  GANANCIA_ACIERTO: 780000
  COSTO_ESTIMULO: 20000

competencia02:

  BQ_PROJECT: "dmecoyfin-250928192534125"
  BQ_DATASET: "dmeyf"
  BQ_TABLE: "c02"
  BQ_TABLE_TARGETS: "targets"
  BQ_TABLE_FEATURES: "features"

  # 201901,201902,201903,201904,201905,201906,201907,
  #                201908,201909,201910,201911,201912,202001,202002,
  #                202003,202004,202005,202006, 202007, 202008, 202009,
  #                202010, 202011, 202012, 202101,202102,202103
  MONTH_TRAIN: [202008 ]
  MONTH_VALIDATION: [ 202110 ]
  MONTH_TEST: [ 202010 ]
  MONTH_PRED: [ 202011 ]

  GANANCIA_ACIERTO: 780000
  COSTO_ESTIMULO: 20000

  TARGET: "clase_ternaria_binaria2"           # ajustá al nombre real en tu CSV
  ID_COL: "numero_de_cliente"