#STORAGE_OPTUNA: "sqlite:///optimizations/optuna_study.db"   # donde persiste el estudio (sqlite en output/)

# CONFIG Local

STUDY_NAME_OPTUNA: "ensamble_lgb_meses_202005_202103_CV"
STORAGE_OPTUNA: "sqlite:////home/joacosk/Documents/maestria/Q2/script_project/optimizations/optuna_study.db"
DIR_MODELS: "/home/joacosk/Documents/maestria/Q2/script_project/src/models/"
DB_PATH: "data/churn.duckdb"
DATA_PATH: "gs://joaquinrk_data_bukito3/datasets/competencia_02_crudo.csv.gz"
DB_MODELS_TRAIN_PATH: "data/models_train_test.duckdb"
CSV_COMP: "data/competencia_01_crudo.csv"
LOGS_PATH: "logs/"
NUEVA_BASE: False

# BIG QUERY DATOS
BQ_PROJECT : "dmecoyfin-250928192534125"                 # p.ej. "dmecoyfin-250928192534125"
BQ_DATASET : "dmeyf"
BQ_TABLE   : "c02"
BQ_TABLE_TARGETS : 'targets'

# Config VM
#STORAGE_OPTUNA: "sqlite:////home/joaquinrk_data/buckets/b1/optimizations/optuna_study.db"
#DIR_MODELS: "/home/joaquinrk_data/buckets/b1/models/"
#DB_PATH: "/home/joaquinrk_data/buckets/b1/datasets/churn.duckdb"
#DATA_PATH: "/home/joaquinrk_data/buckets/b1/datasets/competencia_01_crudo.csv"
#DB_MODELS_TRAIN_PATH: "/home/joaquinrk_data/buckets/b1/datasets/models_train_test.duckdb"
#CSV_COMP: "/home/joaquinrk_data/buckets/b1/datasets/competencia_01_crudo.csv"
#LOGS_PATH: "/home/joaquinrk_data/dmeyf-project/logs"
# NOMBRE EXPERIMENTO
#STUDY_NAME_OPTUNA: "lgb_optimization_exp1_vm"


CSV_COMPETENCIA_2: "gs://joaquinrk_data_bukito3/datasets/competencia_02_crudo.csv.gz"


N_TRIALS: 20                                  # 20 warmup + 30 bayesianos
N_STARTUP_TRIALS: 20
NFOLD: 5
EARLY_STOPPING_ROUNDS: 200                    # opcional si querés early stopping en CV



# ------------------------------------------------------------------
# NUEVA VARIABLE PARA CONTROL DE FLUJO
# Opciones: 'DATA', 'FEATURES', 'OPTUNA', 'TRAIN', 'PREDICT'
START_POINT: "PREDICT"
# ------------------------------------------------------------------


OPTIMIZAR: True

competencia01:
  SEEDS: [ 155555, 555555, 551155, 515151, 151515]
  MONTH_TRAIN: [202102,202103]
  MONTH_VALIDATION: [202103]
  MONTH_TEST: [202104]
  MONTH_PRED: [202106]

  TARGET: "clase_ternaria_binaria2"           # ajustá al nombre real en tu CSV
  ID_COL: "numero_de_cliente"

  # negocio (por si luego cambias a métrica custom de ganancia)
  GANANCIA_ACIERTO: 780000
  COSTO_ESTIMULO: 20000

competencia02:

  BQ_PROJECT: "dmecoyfin-250928192534125"
  BQ_DATASET: "dmeyf"
  BQ_TABLE: "c02"
  BQ_TABLE_TARGETS: "targets"
  BQ_TABLE_FEATURES: "features"

  SEEDS: [ 155555, 555555, 551155, 515151, 151515 ]
  MONTH_TRAIN: [202007, 202008, 202009, 202010, 202011, 202012, 202101,202102,202103 ]
  MONTH_VALIDATION: [ 202103 ]
  MONTH_TEST: [ 202104 ]
  MONTH_PRED: [ 202106 ]

  TARGET: "clase_ternaria_binaria2"           # ajustá al nombre real en tu CSV
  ID_COL: "numero_de_cliente"
